@use "sass:map";
@import "variables";

.join-free-forgot-password-button {
  //label and buttons
  background-color: transparent;
  border-radius: unset;
  border: unset;
  color: map.get($twitter-texts, "twitter-blue-text");
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: unset;
  line-height: 19px;
  width: unset;
}
.join-free-forgot-password-button:hover {
  //label and buttons
  text-decoration: underline;
}

.button {
  //login
  position: absolute;
  background: map.get($twitter-colors, "twitter-black-white");
  border: 1px solid map.get($twitter-colors, "twitter-blue-color");
  box-sizing: border-box;
  border-radius: 5px;
  :hover {
    background: map.get($twitter-colors, "twitter-white-color");
    border: 1px solid map.get($twitter-colors, "twitter-grey-color");
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.login-sign-button {
  //login-now & sign-up buttons
  box-sizing: border-box;
  border-radius: 5px;
  width: 347px;
  height: 50px;
  color: map.get($twitter-texts, "twitter-blue-text");
  background-color: map.get($twitter-colors, "twitter-white-color");
  border: 1px solid map.get($twitter-colors, "twitter-blue-color");

  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18.75px;
}
.login-sign-button:hover {
  //login buttons
  color: map.get($twitter-texts, "twitter-grey-text");
  background-color: map.get($twitter-colors, "twitter-white-color");
<<<<<<< Updated upstream
  border: 1px solid map.get($twitter-colors, "twitter-white-grey");
=======
  border: 0.063rem solid map.get($twitter-colors, "twitter-white-grey");
}

.tweet-now-button {
  padding: 0px 0px;

  position: absolute;
  width: 180px;
  height: 50px;
  left: 80px;
  top: 545px;
  color: map.get($twitter-texts, "twitter-white-color");
  background-color: map.get($twitter-colors, "twitter-blue-color");
  box-shadow: 0px 0px 0px 0px transparent;
  border-radius: 6.25rem;
  border: 0px;
}
.tweet-now-button:hover {
  padding: 0%;

  position: absolute;
  width: 11.25rem;
  height: 3.125rem;

  background: map.get($twitter-colors, "twitter-light-blue-color");
  box-shadow: transparent;
  border-radius: 6.25rem;
  border: 0%;
>>>>>>> Stashed changes
}

.login-now-button {
  //login-now & sign-up buttons

  background-color: map.get($twitter-colors, "twitter-blue-color");
  border-radius: 5px;
  border: 1px solid map.get($twitter-colors, "twitter-blue-color");
  box-sizing: border-box;
  color: map.get($twitter-texts, "twitter-white-text");
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 50px;
  line-height: 18.75px;
  width: 347px;
}
.login-now-button:hover {
  //login buttons
  background-color: map.get($twitter-colors, "twitter-light-blue-color");
  border: 1px map.get($twitter-colors, "twitter-light-blue-color");
}
