.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-home {
  width: 0.9285714285714285em;
}

.icon-hashtag {
  width: 0.9285714285714285em;
}
