.icon-img {
  width: 24.05px;
  height: 21.94px;
  vertical-align: "middle";
  margin: auto;
  margin-left: 10px;
  margin-right: 5px;
}

.icon-url {
  background-image: url(../images/bell.svg);
  fill: red;
}

.server-img {
  width: 240.05px;
  height: 210.94px;
  vertical-align: "middle";
  margin: auto;
  margin-left: 10px;
  margin-right: 5px;
}

.selected-icon-img {
  width: 24.05px;
  height: 21.94px;
  vertical-align: "middle";
  margin: auto;
  margin-left: 10px;
  margin-right: 5px;
}

.profile-icon-img {
  width: 24.05px;
  height: 21.94px;
  vertical-align: "middle";
  margin-top: 32px;
  margin-left: 10px;
  margin-right: 5px;
}
